//- footer
footer
  .row(role="navigation")
    .column.small-1
      a(href="/" title="Home").logo.margin-top

    .column.small-11.show-for-large-up
      ul.inline-list.right.padding-top-less.medium-padding-top
        //- li
        //-   a.menu-item.small.white(href="") Stats
        li
          a.menu-item.small.white(href="https://github.com/bitpay/copay/wiki/COPAY---FAQ") FAQs
        //- li
        //-   a.menu-item.small.white(href="./about") About
        li
          a.menu-item.small.white(href="/disclaimer") Terms of Use 
        li
          a.menu-item.small.white(href="https://github.com/bitpay/copay") View the Code
        li 
          a.menu-item.small.white(href="https://bitcoin.stackexchange.com/questions/tagged/copay") Community Forum
