.row(role="navigation")
  .column.small-1
    a(href="/" title="Home").logo.margin-top

  .column.small-11.show-for-large-up
    ul.inline-list.right.padding-top-less.medium-padding-top
      //- li
      //-   a.menu-item.small.white(href="") Stats
      li
        a.menu-item.small.white(href="https://github.com/bitpay/copay/wiki/COPAY---FAQ" target="_blank") FAQs
      //- li
      //-   a.menu-item.small.white(href="./about") About
      li
        a.menu-item.small.white(href="https://github.com/bitpay/copay" target="_blank") View the Code
      li 
        a.menu-item.small.white(href="https://bitcoin.stackexchange.com/questions/tagged/copay" target="_blank") Community Forum
        
  .column.small-3.hide-for-large-up.margin-top.right
    a(href="javascript:;" cancel-s18n).right-off-canvas-toggle.menu-icon
      span
        
  aside.right-off-canvas-menu
    ul.no-bullet.padding-left.padding-top-less
      //- li
      //-   a.menu-item.small.white(href="") Stats
      //- li
      //-   a.menu-item.small.white(href="./FAQ") FAQ
      //- li
      //-   a.menu-item.small.white(href="./about") About
      li
        a.menu-item.small.white(href="https://github.com/bitpay/copay/wiki/COPAY---FAQ" target="_blank") FAQs
      li
        a.menu-item.small.white(href="https://github.com/bitpay/copay" target="_blank") View the Code
      li 
        a.menu-item.small.white(href="https://bitcoin.stackexchange.com/questions/tagged/copay" target="_blank") Community Forum
