// utils

.background-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.background-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// fills

.bg-dark {
  background-color: #2C3E50;
}

.bg-blue {
  background-color: $blue-dark;
}

.bg-white {
  background-color: #fff;
}

.bg-gray-gradient {
  background-color: #FAFAFB;
  background-image: linear-gradient(-1deg, #F7F7F7 1%, #F9F9F9 33%, #FAFBFD 99%);
}

.bg-blue-gradient {
  background-color: #1C3A88;
  background-image: linear-gradient(-179deg, #1B377D 0%, #1D3E92 98%);
}

.bg-lightblue-gradient {
  background-color: #1F4096;
  background-image: linear-gradient(-179deg, #19357C 0%, #2347A8 100%);
}

.bg-gray {
  background: $gray-xlight;
}

.bg-gray-dark {
  background: $gray-dark;
}

.bg-gray-dark-gradient {
  background-image: linear-gradient(-180deg, #767677 0%, #656976 100%);
}

.bg-subtle-white-gradient {
background-image: linear-gradient(-1deg, #F6F6F7 0%, #FEFEFE 38%, #FFFFFF 97%);

}
