@mixin addBorder($name, $value, $breakpoint) {
  @each $side in 'top', 'right', 'bottom', 'left' {
    .#{$breakpoint}border-#{$side}-#{$name} {
      border-#{$side}: #{$value};
    }
  }
  .#{$breakpoint}border-vertical-#{$name} {
    border-top: #{$value};
    border-bottom: #{$value};
  }
  .#{$breakpoint}border-horizontal-#{$name} {
    border-left: #{$value};
    border-right: #{$value};
  }
  .#{$breakpoint}border-#{$name} {
    border: #{$value};
  }
}

// for the bottom centered border
.header__bottom-border,
.header__bottom-border-left,
.header__bottom-border__large-left,
.header__bottom-border-right,
.header__bottom-border__large-right {
  position: relative;
  margin-bottom: 3rem;
  &:after {
    content: "";
    height: 3px;
    width: 4rem;
    background: $gray-light;
    position: absolute;
    bottom: -1rem;
  }
}

.header__bottom-border:after {
  left: calc(50% - 2rem);
}

.header__bottom-border-left:after {
  left: 0;
}

.header__bottom-border__large-left:after {
  left: calc(50% - 2rem);
  @media #{$large-up} {
    left: 0;
  }
}

.header__bottom-border-right:after {
  right: 0;
}

.header__bottom-border__large-right:after {
  right: calc(50% - 2rem);
  @media #{$large-up} {
    right: 0;
  }
}

.body-text__bottom-border {
  position: relative;
  padding-bottom: 10px;
    &:after {
    content: "";
    width: 25px;
    height: 2px;
    background: #4683E8;
    position: absolute;
    top: 30px;
    left: 0;
  }

}
