.btn {
  padding: 0.75rem 1.5rem 0.78rem;
  border-radius: 5rem;
  border: 1px solid $blue-light;
  transition: background 0.2s;
  display: inline-block;
  line-height: 22px;
  &-blue-solid {
    background: $blue-light;
    &:hover {
      background: darken($blue-light, 5%);
    }
  }
  &-white-border {
    background: rgba(255,255,255,0.05);
    border: 1px solid $white !important;
    &:hover {
      background: rgba(255,255,255,0.1);
    }
  }
  &-blue-border {
    background: rgba(255,255,255,0.05);
    &:hover {
      background: rgba(255,255,255,0.1);
    }
  }
  @media #{$small-only} {
    padding: 0.75rem 1.125rem;
  }
}

.btn-margin {
  margin: 0.5rem 1rem 0.5rem 0;
}
