// Font colors

.blue-light {
  color: $blue-light;
}

.blue-medium {
  color: $blue-medium;
}

.blue-dark {
  color: $blue-dark;
}

.gray-dark {
  color: $gray-dark;
}

.white {
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  &:hover {
    color: #FFFFFF;
  }
}

.white-opacity {
  @extend .white;
  opacity: 0.7;
}

.white-link--opacity {
  @extend .white;
  opacity: 0.7;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}

::selection {
  background: #EBEBFF;
}
::-moz-selection {
  background: #EBEBFF;
}
