// Whenever possible, avoid adding to this file.
// Styles should be abstracted from here into re-usable utilities.

.background-element {
  position: absolute;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: block;
  left: 0;
  right: 0;
}

.home-logo {
  display: inline-block;
  margin: 0.25rem 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}

html {
  min-height: 100%;
  height: inherit;
}

.section {
  @extend .padding-vertical;
  @extend .large-padding-vertical-most;
}

.bg-dark .section {
  padding-top: 8em;
  padding-bottom: 8em;
}

#instantclick-bar {
  background: $blue-light;
}

.text.text-right,
.text.text-left {
  @media #{$small-only}, #{$medium-only} {
    text-align: center !important;
  }
}

footer {
  @media #{$small-only} {
    text-align: center;
    padding: 1em !important;
    ul.inline-list {
      margin: 10px auto;
      font-size: 0.8em;
    &.right {
      float: none !important;
    }
    }
  }
}

a.download {
  width: 230px;
  margin-bottom: 2em;
  @media #{$xlarge-up} {
    float: left;
    margin-right: 2.4em;
  }

}
