.logo {
  width: 72px;
  height: 30px;
  margin-bottom: 0.4rem;
  display: inline-block;
  background-image: url('../images/copay-logo-white.svg');
  background-repeat: no-repeat;
  z-index: 2;
  position: relative;
  @media #{$medium-up} {
    margin-bottom: 1.4rem;
  }
  footer & {
    background-image: url('../images/copay-logo-dark.svg');
  }
}

.menu-item {
  color: $gray-light;
  font-size: 0.8em;
  @extend .uppercase;
  letter-spacing: 1.2px;
  opacity: 1;
  transition: opacity 0.2s;
  &:hover {
    color: $white;
    text-decoration: none;
  }

  .white-header &,
  .right-off-canvas-menu & {
    @extend .white;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    &:hover {
      opacity: 0.7;
    }
  }
  &.selected {
    font-weight: bold;
    letter-spacing: 0.8px;
  }
}

// vertical spacing for mobile menu items
.right-off-canvas-menu li {
  margin-bottom: 1rem;
}

// login button is styled only on non-mobile menu
.show-for-large-up .login-btn {
  padding: 5px 15px 4px;
  border-radius: 1000px;
  border: 1px solid;
  display: inline-block;
  position: relative;
  top: -6px;
}

.menu-icon {
  display: block;
  min-height: 2.5rem;
  width: 2.5rem;
  span:after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 5px;
    right: 2rem;
    box-shadow: 0 0 0 1px $white, 0 7px 0 1px $white, 0 14px 0 1px $white;
    width: 1.3rem;
    @media #{$medium-only} {
      right: 2.5rem;
    }
  }
}
