//
.tooltip {
  background: #2B414F;
  border-radius: 4px;
}

.copay-ui-btn {
  border-radius: 25px;
  background-color: #A5B3C0;
  color: #FFFFFF !important;
  text-transform: uppercase;
  border: none;
  padding: 8px 20px;
  font-size: 0.9em !important;
}

.overflow {
    overflow: hidden;
}
