extends _layouts/primary

block content
  div(role="navigation" style="background: #30545A url('/images/banner.jpg'); background-size: cover; background-position: top;")
    include _includes/main-menu.jade
    .section.bg-white
      .row
        .column.large-8.large-offset-2.text-center
            img.lost-size(src='/images/404.svg', alt='404')
      .row
        .column.large-8.large-offset-2.text-center
          h1.black.fade-in You must be looking for 
              a.lost-link(href="/").black.fade-in this page

