extends _layouts/primary

block title
  title About Copay
  
block content
  .bg-dark
    include _includes/main-menu.jade
                      
  .row.section
    .column.large-10.large-offset-1.text-center
        h1.fade-in We live on bitcoin. This is our wallet.
    .column.large-10.large-offset-1.text-center
        h3.medium-margin-top-less.medium-8.medium-offset-2.fade-in.delay-2 Copay, the open source, hierarchical-deterministic multisignature bitcoin wallet from BitPay.
        .margin-top-less.fade-in.delay-4
        br
    .column.large-12.fade-in.delay-6.text-left-align
        h5.fade-in At BitPay, we've always held ourselves to a higher standard for Bitcoin security. We've seen account services and exchanges fail bitcoin users time and time again, so we decided to make a bitcoin wallet we would trust with our own company funds. 
        h5.fade-in Many of our own team members live on bitcoin, so we knew we needed to make a true wallet that would work for full-time users. With that in mind, we set out to bring the security and shareability of multisignature wallets together in a flexible finance tool for individuals, groups, and companies.
        h5.fade-in From Copay's earliest days, we've been 100% open source, working with an international community of developers to build a wallet users could control – and secure – themselves. What started as our own do-it-yourself solution is now out of beta, and we're ready to share it with the world. 
        br
        .margin-top-less.fade-in.delay-4.text-center
          h4.fade-in.text-center Start using a bitcoin wallet made by and for bitcoiners.
          a(href="#").btn.btn-dark-border.margin-left-less.btn-margin Download Copay
