extends _layouts/primary

block title
  title About Copay
  
block content
  .bg-dark
    include _includes/main-menu.jade
  
  .bg-white                   
    .row.section
      .column.large-10.large-offset-1.text-center
          h1.dark.fade-in We live on bitcoin. This is our wallet.
          br
      .column.large-12.fade-in.delay-6.text-left-align
          h5.dark.fade-in At BitPay, we've faced the same challenge bitcoin users face every day: storing and using bitcoin securely. Time and time again, bitcoin account services, exchanges, and traditional wallets have failed to provide that security. When we realized that we needed a better way, we decided to make our own – Copay.
          h5.dark.fade-in Many of our own team members live on bitcoin, so we knew we needed to make a true wallet that would work for full-time users. With that in mind, we set out to bring the security and shareability of multisignature wallets together in a flexible finance tool for individuals, groups, and companies. 
          h5.dark.fade-in From Copay's earliest days, we've been 100% open source, working with an international community of developers to build a wallet users could control – and secure – themselves. What started as our own do-it-yourself solution is now out of beta, and we're ready to share it with the world. 
          .margin-top-less.fade-in.delay-4.text-center
            h4.dark.fade-in.text-center Start using a bitcoin wallet made by and for bitcoiners.
            a(href="#").dark.btn.btn-dark-border.old.margin-left-less.btn-margin Download Copay
