extends _layouts/primary

block title
  title Frequently Asked Questions
  
block content
  .bg-dark
    include _includes/main-menu.jade
    
  .bg-white
    .row.section
      .column.large-10.large-offset-1.text-left-align
        h2 What is a multisignature wallet? 
        p Multisignature wallets protect funds and prevent unauthorized access to funds by requiring more than one cryptographic key "signature" for every transaction. 
        p With Copay, you can use this protection offered by multiple key signatures by creating or joining a wallet that splits control of these signatures among your devices or trusted friends ("Copayers," as we like to call them).
        
        h2 What is a private key? 
        p Your private key is a random string of numbers and letters that essentially serves as a password for your money. This is what you will use as your cryptographic "signature" to authorize transactions. 
        
        h2 How do I back up my wallet? 
        p #[strong Chrome extension]: When you download Copay and open the "Receive" section of the app for the first time, you will be prompted to back up your wallet keys. Select "Backup now," select a password, and download your backup locally.
        p iOS and Android apps: When you download Copay and open the "Receive" section of the app for the first time, you will be prompted to back up your wallet keys. 
        
        h2 How do I restore a wallet backup?
        p #[strong Chrome extension]: When you add the Copay app and open it for the first time, you will see the option to import a backup of a previous wallet on the bottom of the app screen. Choose the local backup file and enter the corresponding password to unlock and open the wallet. 
        p If you need to import a v0.9 or earlier version of Copay, select "Import Here." Enter the email address, password, and server name (default will be supplied automatically unless your wallet's server was local) of your Copay wallet profile to retrieve your backup.
        p #[strong iOS and Android apps]: Select "Add wallet" and "Import wallet." Paste the backup code you copied to your clipboard or received via email when you backed up you wallet. Enter the backup's password and select "import backup" to finish. 
        p If you need to import a v0.9 or earlier version of Copay, select "Import Here." Enter the email address, password, and server name (a default will be supplied automatically)  of your Copay wallet profile to retrieve your backup.

        h2 What does a testnet wallet do? How do I create one? 
        p A testnet wallet is used to hold and send test funds over Bitcoin's testnet, which is just a testing version of the real Bitcoin network. 
        p To create a testnet wallet, select #[strong "Add wallet" > "Create new wallet" > "Show advanced options"] and activate "Use Test Network." From here, proceed with setting up the wallet as you normally would. 
        
        h2 Where can I report an issue or submit a feature request? 
        p Reach out to our support team at #[a(href="mailto:support@bitpay.com") support@bitpay.com]. Want to communicate with Copay's development team? Report a bug at our #[a(href="https://github.com/bitpay/copay/issues") GitHub issues page] or share feedback on our #[a(href="https://labs.bitpay.com/c/copay") BitPay Labs forum.]  
