extends _layouts/primary

block title
  title Copay – the Secure, Shared Bitcoin Wallet

block content
  .section.bg-dark
    .row
      .column.large-10.large-offset-1.text-center
          h1.white.fade-in.text-shadow Build a better bitcoin wallet with us.
          h4.white.text-shadow.medium-margin-top-less.medium-8.medium-offset-2.fade-in.delay-2 Secure, open source, multi-platform, bitcoin wallet from BitPay.
          .margin-top-less.fade-in.delay-4
            a(href="#").white.btn.btn-blue-solid.uppercase.bold.margin-left-less.btn-margin iOS
            a(href="#").white.btn.btn-blue-solid.uppercase.bold.margin-left-less.btn-margin Android
            a(href="#").white.btn.btn-blue-solid.uppercase.bold.margin-left-less.btn-margin Windows Phone
            a(href="#").white.btn.btn-blue-solid.uppercase.bold.margin-left-less.btn-margin Chrome App
      
  .section
    .row
      .column.medium-12.text-center.fade-in.delay-6
        h2.margin-bottom Multiple Wallets, One App
