extends _layouts/primary

block title
  title Copay – BitPay's Open Source Multisignature Bitcoin Wallet

block content
  .bg-dark
    include _includes/main-menu.jade
          
    .row.section
      .column.large-10.large-offset-1.text-center
          h1.white.fade-in We live on bitcoin. This is our wallet.
      .column.large-10.large-offset-1.text-center
          h3.white.medium-margin-top-less.medium-8.medium-offset-2.fade-in.delay-2 Copay, the open source, multisignature bitcoin wallet from BitPay.
          .margin-top-less.fade-in.delay-4
          br
      .column.large-12.fade-in.delay-6.text-left-align
          h4.white.fade-in When we realized that we needed a more secure way to hold bitcoin, we decided to build our own.
          .margin-top-less.fade-in.delay-4.text-center
            h4.white.fade-in.text-center Take control. Start using a bitcoin wallet made by and for bitcoiners.
            a(href="#").white.btn.btn-white-border.old.margin-left-less.btn-margin Download Copay
      
  .section
    .row
      .column.large-7.fade-in.delay-6.hide-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/faces-cell.png'); height:15em;")
      .column.large-5.fade-in.delay-6.text.text-right
        h2.header__bottom-border__large-right.padding-top  Secure, Shared Wallets
        h5 Secure your personal funds with multiple signatures or manage shared funds with friends and coworkers.
        p Copay's convenient multisignature security implementation and payment proposal flow make it easy to save and spend together with other copayers.
      .column.large-7.fade-in.delay-6.show-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/faces-cell.png'); height:15em;")
        
  .section.bg-gray
    .row
      .column.large-7.fade-in.delay-6
        .icon.h2.background-contain(style="background-image: url('/images/multiple-wallets.png'); height:15em;")
      .column.large-5.fade-in.delay-6.text.text-left
        h2.header__bottom-border__large-left.padding-top Multiple Wallets, One App
        h5 Create multiple wallets and keep up with all of your bitcoin finances without leaving the app.
        p Copay is a hierarchical-deterministic (HD) wallet, allowing for secure in-app wallet generation and backup. 
  .section
    .row
      .column.large-7.fade-in.delay-6.hide-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/code-trust.png'); height:15em;") 
      .column.large-5.fade-in.delay-6.text.text-right
        h2.header__bottom-border__large-right.padding-top Code You Can Trust 
        h5 An unexamined wallet is not worth using. Audit Copay's open source code and collaborate with the project's developers on GitHub.
        p The Copay team has used the open source community's feedback to build a wallet with 90% code coverage and robust public bug and issue reporting.
      .column.large-7.fade-in.delay-6.show-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/code-trust.png'); height:15em;")    
        
  .section.bg-gray
    .row
      .column.large-7.fade-in.delay-6
        .icon.h2.background-contain(style="background-image: url('/images/livenet-testnet.png'); height:15em;")
      .column.large-5.fade-in.delay-6.text.text-left
        h2.header__bottom-border__large-left.padding-top Bitcoin Testnet Support
        h5 Use bitcoin and testnet coins from the same app with the first and only testnet wallet for iOS and Windows Phone.
        p Whether you're building the next bitcoin payment product or trying out a new bitcoin service, Copay's testnet wallet feature lets you stay mobile with your testnet coins. 
        
  .section
    .row
      .column.large-7.fade-in.delay-6.hide-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/universal-network.png'); height: 15em;")
      .column.large-5.fade-in.delay-6.text.text-right
        h2.header__bottom-border__large-right.padding-top Universal Payment Standards 
        h5 Don't be limited by centralized bitcoin account services. You can count on Copay transactions to work reliably every time, no matter what payment services you use.
        p Copay is invoice-agnostic. It's compatible with all BIP 71 (Traditional Bitcoin URI) or BIP 73 (Payment Protocol URI) QR code bitcoin payment requests.   
      .column.large-7.fade-in.delay-6.show-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/universal-network.png'); height: 15em;")

  .section.bg-gray
    .row
      .column.large-3.small-6.fade-in.text-center
        .icon.h2.background-contain.margin-bottom-less(style="background-image: url('/images/icon-globe.svg'); height:2.5em;")
        span Prices In  150+ 
        p Currencies 
      .column.large-3.small-6.fade-in.text-center
        .icon.h2.background-contain.margin-bottom-less(style="background-image: url('/images/icon-speech.svg'); height:2.5em;")
        span Multi-Language
        p  Support 
      .column.large-3.small-6.fade-in.text-center
        .icon.h2.background-contain.margin-bottom-less(style="background-image: url('/images/icon-wallet-arrow-down.svg'); height:2.5em;")
        span HD Wallet 
        p  Backups 
      .column.large-3.small-6.fade-in.text-center
        .icon.h2.background-contain.margin-bottom-less(style="background-image: url('/images/icon-flow.svg'); height:2.5em;")
        span Convenient Payment
        p  Proposal Flow 
  
  .bg-dark.text-center.padding-vertical-more
    .row
      h5.white.margin-bottom Download Copay for
      .column.large-3.fade-in
        button.white.btn.btn-gray-medium-border.expand.large
          img(src="/images/fi-social-android.svg" width="16").margin-right-less
          small.gray-medium Android
      .column.large-3.fade-in.text
        button.white.btn.btn-gray-medium-border.expand.large
          img(src="/images/fi-social-apple.svg" width="16").margin-right-less
          small.gray-medium IOS
      .column.large-3.fade-in.text
        button.white.btn.btn-gray-medium-border.expand.large
          img(src="/images/fi-social-windows.svg" width="16").margin-right-less
          small.gray-medium Windows
      .column.large-3.fade-in.text
        button.white.btn.btn-gray-medium-border.expand.large
          img(src="/images/fi-social-chrome.svg" width="16").margin-right-less
          small.gray-medium Chrome app
  footer
    include _includes/main-menu.jade
    
    
