extends _layouts/primary

block title
  title Copay – the Secure, Shared Bitcoin Wallet

block content
  .bg-dark(role="navigation")
    .column.small-1
      a(href="/" title="Home").logo.margin-top

    .column.small-11.show-for-large-up
      ul.inline-list.right.padding-top-less.medium-padding-top
        li
          a.menu-item.small.white(href="") Link
        li
          a.menu-item.small.white(href="") Link
        li
          a.menu-item.small.white(href="") Link
        li
          a.menu-item.small.white(href="") Link
    .column.small-3.hide-for-large-up.margin-top.right
      a(href="javascript:;").right-off-canvas-toggle.menu-icon
        span
    
    aside.right-off-canvas-menu
      ul.no-bullet.padding-left.padding-top-less
        li
          a.menu-item.small.white(href="") Link
        li
          a.menu-item.small.white(href="") Link
        li
          a.menu-item.small.white(href="") Link
        li
          a.menu-item.small.white(href="") Link
          
          
    .row.section
      .column.large-10.large-offset-1.text-center
          h1.white.fade-in Build a better bitcoin wallet with us.
          h5.white.medium-margin-top-less.medium-8.medium-offset-2.fade-in.delay-2 Secure, open source, multi-platform, bitcoin wallet from BitPay.
          .margin-top-less.fade-in.delay-4
            a(href="#").white.btn.btn-white-border.old.margin-left-less.btn-margin Download Copay
      
  .section
    .row
      .column.large-7.fade-in.delay-6
        .icon.h2.background-contain(style="background-image: url('/images/no-fees.svg'); height: 2.5em;")
      .column.large-5.fade-in.delay-6.small-only-text-center
        h2.text-center.large-text-left.header__bottom-border__large-left New Header!
        p Secure your money with multiple signatures, or share and manage funds with friends, family or coworkers.
        
  .section.bg-gray-gradient
    .row
      .column.large-7.fade-in.delay-6
        img(src="/images/social/bitpay-avatar-1200.jpg" width="450")
      .column.large-5.fade-in.delay-6
        h2.header__bottom-border-left.padding-top Multiple Wallets, One App
        p Secure your money with multiple signatures, or share and manage funds with friends, family or coworkers.
            
  .section
    .row
      .column.large-7.fade-in.delay-6
        img(src="/images/social/bitpay-avatar-1200.jpg" width="450")
      .column.large-5.fade-in.delay-6
        h2.header__bottom-border-left.padding-top Multiple Wallets, One App
        p Secure your money with multiple signatures, or share and manage funds with friends, family or coworkers.
        
  .section.bg-gray-gradient
    .row
      .column.large-7.fade-in.delay-6
        img(src="/images/social/bitpay-avatar-1200.jpg" width="450")
      .column.large-5.fade-in.delay-6
        h2.header__bottom-border-left.padding-top Multiple Wallets, One App
        p Secure your money with multiple signatures, or share and manage funds with friends, family or coworkers.
        
  .section
    .row
      .column.large-7.fade-in.delay-6
        img(src="/images/social/bitpay-avatar-1200.jpg" width="450")
      .column.large-5.fade-in.delay-6
        h2.header__bottom-border-left.padding-top Multiple Wallets, One App
        p Secure your money with multiple signatures, or share and manage funds with friends, family or coworkers.
  
  .section.bg-gray-gradient
    .row
      .column.large-3.fade-in.text
        img(src="/images/social/bitpay-avatar-1200.jpg" width="200")
      .column.large-3.fade-in.text
        img(src="/images/social/bitpay-avatar-1200.jpg" width="200")
      .column.large-3.fade-in.text
        img(src="/images/social/bitpay-avatar-1200.jpg" width="200")
      .column.large-3.fade-in.text
        img(src="/images/social/bitpay-avatar-1200.jpg" width="200")
  
  .bg-dark.text-center.padding-vertical-more
    .row
      h4.white.margin-bottom Download Copay for
      .column.large-3.fade-in.text
        a.white.btn.btn-white-border
          i.fi-android
            p android
      .column.large-3.fade-in.text
        a.white.btn.btn-white-border
          i.fi-android 
            p android
      .column.large-3.fade-in.text
        a.white.btn.btn-white-border
          i.fi-android 
            p android
      .column.large-3.fade-in.text
        a.white.btn.btn-white-border
          i.fi-android
            p android
  footer.padding
    img(src="/images/copay-logo-black.svg" width="70")
    ul.inline-list.right
      li
        a.small(href="") Link
      li
        a.small(href="") Link
      li
        a.small(href="") Link
      li
        a.small(href="") Link
    
    
