extends _layouts/primary

block title
  title Copay – the Secure, Shared Bitcoin Wallet

block content
  .bg-dark(role="navigation")
    .column.small-1
      a(href="/" title="Home").logo.margin-top

    .column.small-11.show-for-large-up
      ul.inline-list.right.padding-top-less.medium-padding-top
        li
          a.menu-item.small.white(href="") Stats
        li
          a.menu-item.small.white(href="") Help & Support 
        li
          a.menu-item.small.white(href="") FAQ
        li
          a.menu-item.small.white(href="") View the Code  
          
    .column.small-3.hide-for-large-up.margin-top.right
      a(href="javascript:;").right-off-canvas-toggle.menu-icon
        span
          
    aside.right-off-canvas-menu
      ul.no-bullet.padding-left.padding-top-less
        li
          a.menu-item.small.white(href="") Stats
        li
          a.menu-item.small.white(href="") Help & Support 
        li
          a.menu-item.small.white(href="") FAQ
        li
          a.menu-item.small.white(href="") View the Code  
          
          
    .row.section
      .column.large-10.large-offset-1.text-center
          h1.white.fade-in Build a better bitcoin wallet with us.
          h5.white.medium-margin-top-less.medium-8.medium-offset-2.fade-in.delay-2 Secure, open source, multi-platform, bitcoin wallet from BitPay.
          .margin-top-less.fade-in.delay-4
            a(href="#").white.btn.btn-white-border.old.margin-left-less.btn-margin Download Copay
      
  .section
    .row
      .column.large-7.fade-in.delay-6.hide-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/faces-cell.png'); height:450px;")
      .column.large-5.fade-in.delay-6.text-right
        h2.header__bottom-border-right.padding-top  Secure, Shared Wallets
        p Secure your money with multiple signatures, or share and manage funds with friends, family or coworkers.
      .column.large-7.fade-in.delay-6.show-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/faces-cell.png'); height:450px;")
        
  .section.bg-gray-gradient
    .row
      .column.large-7.fade-in.delay-6
        .icon.h2.background-contain(style="background-image: url('/images/multiple-wallets.png'); height:450px;")
      .column.large-5.fade-in.delay-6
        h2.header__bottom-border-left.padding-top Multiple Wallets, One App
        p Copay provides a simple, reliable way to create multiple wallets and keep up with your bitcoin finances, all without leaving the app.
        
  .section
    .row
      .column.large-7.fade-in.delay-6.hide-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/code-trust.png'); height:450px;") 
      .column.large-5.fade-in.delay-6.text-right
        h2.header__bottom-border-right.padding-top Code You Can Trust 
        p It's time to take control of your wallet. Audit Copay's open source code and collaborate with the project's developers on GitHub.
      .column.large-7.fade-in.delay-6.text-right.show-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/code-trust.png'); height:450px;")    
        
  .section.bg-gray-gradient
    .row
      .column.large-7.fade-in.delay-6
        .icon.h2.background-contain(style="background-image: url('/images/livenet-testnet.png'); height:450px;")
      .column.large-5.fade-in.delay-6
        h2.header__bottom-border-left.padding-top Testnet Support
        p Copay users can access bitcoin and testnet coins from the same app with the first and only testnet wallet for iOS and Windows Phone.
        
  .section
    .row
      .column.large-7.fade-in.delay-6.hide-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/universal-network.png'); height:450px;")
      .column.large-5.fade-in.delay-6.text-right
        h2.header__bottom-border-right.padding-top A Wallet Built for a Universal Payment Network 
        p Bitcoin users shouldn't be limited by centralized account services. Copay uses universal Bitcoin standards to make transactions secure, simple, and smooth, every time. 
      .column.large-7.fade-in.delay-6.show-for-large-up
        .icon.h2.background-contain(style="background-image: url('/images/universal-network.png'); height:450px;")
  
  .section.bg-gray-gradient
    .row
      .column.large-3.fade-in.text-center
        .icon.h2.background-contain.margin-bottom-less(style="background-image: url('/images/icon-globe.svg'); height:100px;")
        span Prices In 150+ 
        p Currencies 
      .column.large-3.fade-in.text-center
        .icon.h2.background-contain.margin-bottom-less(style="background-image: url('/images/icon-speech.svg'); height:100px;")
        span Multi-Language
        p  Support 
      .column.large-3.fade-in.text-center
        .icon.h2.background-contain.margin-bottom-less(style="background-image: url('/images/icon-wallet-arrow-down.svg'); height:100px;")
        span HD Wallet 
        p  Backups 
      .column.large-3.fade-in.text-center
        .icon.h2.background-contain.margin-bottom-less(style="background-image: url('/images/icon-flow.svg'); height:100px;")
        span Convenient Payment
        p  Proposal Flow 
  
  .bg-dark.text-center.padding-vertical-more
    .row
      h5.white.margin-bottom Download Copay for
      .column.large-3.fade-in
        button.white.btn.btn-gray-medium-border.expand.large
          img(src="/images/fi-social-android.svg" width="18").margin-right-less
          span.gray-medium Android
      .column.large-3.fade-in.text
        button.white.btn.btn-gray-medium-border.expand.large
          img(src="/images/fi-social-apple.svg" width="18").margin-right-less
          span.gray-medium IOS
      .column.large-3.fade-in.text
        button.white.btn.btn-gray-medium-border.expand.large
          img(src="/images/fi-social-windows.svg" width="18").margin-right-less
          span.gray-medium Windows
      .column.large-3.fade-in.text
        button.white.btn.btn-gray-medium-border.expand.large
          img(src="/images/fi-social-chrome.svg" width="18").margin-right-less
          span.gray-medium Chrome app
  footer.padding
    img(src="/images/logo-copay-footer.svg" width="70")
    ul.inline-list.right.padding-top-les
      li
        a.menu-item.small.white(href="") Stats
      li
        a.menu-item.small.white(href="") Help & Support 
      li
        a.menu-item.small.white(href="") FAQ
      li
        a.menu-item.small.white(href="") View the Code 
    
